body{
    margin: 0;
    padding: 0;
}
main{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: burlywood;
}
.office-layout{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.desk{
    border: 1px solid #000;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.desk:nth-child(1){
    background-color: green;
}
.desk:nth-child(2){
    background-color: yellow;
}
.desk:nth-child(3){
    background-color: blue;
}
.desk:nth-child(4){
    background-color: orange;
}
.desk:nth-child(5){
    background-color: blue;
}
.desk:nth-child(6){
    background-color: green;
}

@media(max-width: 1024px){
    .desk{
        width: 80px;
        height: 80px;
    }
}